---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { getAlbumImages } from "@lib/utils";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const albums = (await getCollection("albums")).filter(
    (post) => !post.data.draft,
  );

  const paths = Object.values(albums).map((album) => {
    return {
      params: {
        id: album.id,
      },
      props: {
        album,
      },
    };
  });
  return paths;
}

const { album } = Astro.props;
const images = await getAlbumImages(album.id);
---

<Layout title={album.data.title} description={album.data.description}>
  <div
    class="container mx-auto my-8 sm:columns-2 md:columns-3 lg:columns-4 xl:columns-5"
  >
    {
      images.map((image) => (
        <Image
          src={image}
          alt={`Image from ${album.data.title} album`}
          format="avif"
          quality={50}
          class="mb-4 rounded-sm border border-transparent transition-all duration-300 ease-in-out hover:border-gray-300 hover:shadow-lg"
          loading="lazy"
        />
      ))
    }
  </div>
</Layout>
